<html xmlns:th="http://www.thymeleaf.org">



<body>
    <div class="heading">
<h1>Welcome to User login page</h1> <br><br><br><br>
    </div>

    <div class="main">
    <form th:action="@{/user/login}" method="post">
    <p>
        Email: <input type="text" name="username" required />  <!-- Imp notes :: you need to have name=username only here for spring security login -->
    </p>
    <p>
        Password: <input type="password" name="password" required />
    </p>
    <p>
        <input type="submit" value="Login" />
        </p>
</form>
</div>
    </body>
</html>